<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="BaseTemplate::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Title</title>
</head>
<body>
<section class="custom">
<div class="container mt-3">
    <div class="card">
        <div class="text-center font-italic text-secondary">
            <h2 class="p-2" style="color:#5882ff">Compose Email</h2>
        </div>

        <form class="form m-5" id="myForm" th:action="@{/sending}" method="post" enctype="multipart/form-data">

            <div id="myDiv" class="spinner"></div>

            <div class="input-group has-validation">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                </div>
                <input type="email" name="to" id="to" class="form-control" placeholder="to" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <br><br>
            <div class="input-group has-validation">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-thumbtack"></i></span>
                </div>
                <input type="text" name="subject" id="subject" class="form-control" placeholder="subject" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <br><br>
            <div class="input-group has-validation">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-regular fa-message"></i></span>
                </div>
                <input type="text" name="message" id="message" class="form-control" placeholder="message" required>
                <div class="invalid-feedback">
                    Please write message.
                </div>
            </div>
            <br><br>
            <div class="input-group has-validation">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-file-shield"></i></span>
                </div>
                <input type="file" name="att" id="attach" class="form-control" >
                <div class="invalid-feedback">
                    Please choose an attachment file.
                </div>
            </div>
            <br><br>
            <div class="container m-2">
                <div class="text-center">
                    <button type="submit" id="sub" class="btn btn-danger" disabled>Submit</button>
                </div>
            </div>

        </form>
    </div>


</div>
</section>
</body>
</html>